.modalStyles {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 900px;
    height: 620px;
    margin-top: -310px;
    margin-left: -450px;
    border-radius: 10px;
    background-color: #000;
    color: white;
    outline: none;
    overflow: hidden;
}

@media screen and (max-width: 760px) {
    .modalStyles {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 700px;
        width: 350px;
        margin-left: -175px;
        margin-top: -350px;
        border-radius: 10px;
        background-color: #000;
        border: 3px solid #01bf71;
        outline: none;
        padding: 10px;
    }
}



.ReactModal__Content {
    opacity: 0;
    transform: translateY(-400px);
    transition: all 800ms ease-in-out;
  }
  
  .ReactModal__Content--after-open {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .ReactModal__Content--before-close {
    opacity: 0;
    transform: translateY(-100px);
  }

  


  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}